<!DOCTYPE html>

<html>
  <head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Welcome to most awesome website on the net</h1>
    <p>You won't find website better anywhere else!</p>
  </body>
</html>
